body{
    font: Arial, 20px, sans-serif;
}

.cor-form{
   background-color: #817A87;
}

.margin{
    padding-top: 10px;
    padding-bottom: 60px;
}

.margin-meio{
    padding-top: 20px;
    padding-bottom: 20px;
}


.text-input{
    width: 300px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
}

.centro{
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: column;
    text-align: right;
}