/*As próximas 3 classes são CSS utilizado nas mensagens de validação dos campos do formulário */
#nameError {
    display: none;
    font-size: 0.8em;
}

#nameError.visible {
    display: block;
}

input.invalid {
    border-color: red;
}

body{
    font: Arial, 20px, sans-serif;
}

.cor-form{
   background-color: #817A87;
}


.margin{
    padding-top: 10px;
    padding-bottom: 60px;
}

.margin-meio{
    padding-top: 20px;
    padding-bottom: 20px;
}

