body{
    font: Arial, 20px, sans-serif;
}

.navbar{
    background-color: #817A87;
}

.cor-form{
   background-color: #817A87;
}


.margin{
    padding-top: 10px;
    padding-bottom: 60px;
}

.margin-meio{
    padding-top: 20px;
    padding-bottom: 20px;
}

