<!DOCTYPE html>
	<!-- O href do css pode ser vazio ou ../Layout/layout.css, adicionar o caminho não gera grandes problemas, pq ele é rescrito
	depois para ser exibido, mas antes disso ele manda uma mensagem de erro chata se for qualquer outra coisa -->
	<link rel="stylesheet" type="text/css" href="" id="css"/>
	<link rel="stylesheet" type="text/css" href="../Infra/bootstrap/css/bootstrap.min.css"/>
	<body>
		<footer>
			<div class="container-fluid text-center margin parceiros">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							Renato
						</div>
						<div class="col-lg-4">
							Kaiky
						</div>
						<div class="col-lg-4">
							Dias
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>  