<!DOCTYPE html>
	<!-- O href do css pode ser vazio ou ../Layout/layout.css, adicionar o caminho não gera grandes problemas, pq ele é rescrito
	depois para ser exibido, mas antes disso ele manda uma mensagem de erro chata se for qualquer outra coisa -->
    <link rel="stylesheet" type="text/css" href="../Infra/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="" id="css"/>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	
	<body>
		<div class="textoFormatado">
			<nav class="navbar navbar-expand-lg navbar-light textoFormatado">
				<a href = "../Main/main.html" class="navbar-brand mb-0 h1 margin-logo">
					<img class="d-inline-block " src="../Infra/img/Logo_Final.jpeg" width="100" height="70"/>
					<b>Viagem Fácil</b>
				</a> 
				<button type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" class="navbar-toggler"	aria-controls = "navbarNav" aria-expanded = "false" aria-label = "Toggle navigation">
					<span class = "navbar-toggler-icon"></span>
				</button>
					
				<div class = "collapse navbar-collapse d-lg-flex" id="navbarNav">
					<ul class = "navbar-nav ">
						<li class = "nav-item active">
							<a id="aQrCode" href = "../Qrcode/qrcode.html" class = "nav-link">
								Qr Code's
							</a>
						</li>
						<li class = "nav-item active">
							<a id="aPagamento" href = "../Pagamento/pagamento.html" class = "nav-link">
								Aquisição de Créditos
							</a>
						</li>
						<li class = "nav-item active">
							<a id="aPasse" href = "../Passe/passe.html" class = "nav-link">
								Controle de Passes
							</a>
						</li>
					</ul>
				</div>

				<div class = "collapse navbar-collapse d-lg-flex justify-content-end" id="navbarNav">
					<ul class = "navbar-nav ">
						<div class="margin-span" id="divCumprimento"></div>
						<button type="button" id="btnLogout" class="cor-texto btn-dark btn margin-logout" onclick="
							import { PopUp } from '../Pop-Ups/popUp.js';

							var popUp = new PopUp();
							let httpRequest = new XMLHttpRequest();
							httpRequest.open('GET', '../Infra/Autenticacao/controllerLogout.php');
							httpRequest.send();
							httpRequest.onreadystatechange = function(){
								if(this.readyState == 4){
									if(this.status == 200){
										if(this.response == 'Sucesso'){
											//Removendo as sessions no lado do navegador
											window.sessionStorage.setItem('autenticado', 'false');
											window.location.href = '../Login/login.html';
										}else{
                							popUp.imprimirPopUp('../Pop-Ups/popUp.html', '../Pop-Ups/stylePopUp.css', 'divPopUp', this.response);
										}
									}else{
										popUp.imprimirPopUp('../Pop-Ups/popUp.html', '../Pop-Ups/stylePopUp.css', 'divPopUp', 'Não foi possível terminar a requisição');
									}
								}
							}">
								Logout
						</button>
					</ul>
				</div>
			</nav>
		</div>
	</body>
</html>