.navbar{
    background-color: #817A87;
}

.nav-link{
	color:black;
}

.cor{
	background-color: #817A87;
}

.margin-meio{
    padding-top: 20px;
    padding-bottom: 20px;
}

.cor-texto{
	color: white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: #817A87;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

div.body-content{
    /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
    padding-bottom: 50px;
}

#wrapperFoot{
    min-height: 100%;
    position: relative;
    height: 1px;
}

.divContentFootRelative{
    width: 100%;
    position: relative;
}

.divContentFootAbsolute{
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Classe usada para esconder elementos da NavBar */
.escondido{
    display: none;
}

.margin-span{
    margin-top: 3%;
    margin-left: -19%;
}

.margin-logout{
    margin-right: -8%;
    margin-left: 8%;
}

.margin-logo{
    margin-left: 1%;
}