.navbar{
    background-color: #817A87;
    max-height: 96px;
}

.nav-link{
	color:black;
}

.cor{
	background-color: #817A87;
}

.margin-meio{
    padding-top: 20px;
    padding-bottom: 20px;
}

.cor-texto{
	color: white;
}

.margin{
    padding-top: 10px;
    padding-bottom: 34px;
}

.parceiros{
    background-color: #817A87;
    color: black;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

div.body-content{
    /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
    padding-bottom: 50px;
}

html{
    height: 100% !important;
    min-height: 100% !important;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

#divFoot{
    margin-top: auto !important;
    position: relative;
}

/* Classe usada para esconder elementos da NavBar */
.escondido{
    display: none;
}

/* .espacoMargem{
    margin-right: 20px;
} */

.imagemEngrenagem{
    height: 60px;
    width: 60px;
}

.elementoDireita{
    align-self: center;
}

.btnLogout{
    margin-left: 19px;
    margin-right: 5px;
}

.margin-logo{
    margin-left: 10px;
}


@media screen and (max-width: 600px){

    .divFoot{
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}