.textoFormatado{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar{
    background-color: #817A87;
}

.parceiros{
    background-color: #817A87;
    color: black;
    width: 100.6%;
    bottom: 0;
    position: fixed;
}

b {
    font-size: 30px;
}