/* CSS básico para o Form */
.cor-form{
    background-color: #817A87;
}

.margin{
    padding-top: 10px;
    padding-bottom: 60px;
}

.margin-meio{
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    font: Arial, 20px, sans-serif;
}

/* CSS dos links */
.alterarSenha{
    align-self: center;
}

.divLink{
    display: flex;
}

.btnsForm{
    width: 276px;
}

.btnEnviar{
    background-color: rgb(7, 229, 37)!important;
    border-color: rgb(0, 255, 13)!important;
    float: right;
}

/* Este css corresponde ao bloco de Dados Pessoais */
.divDadosPesoais{
    background-color: #c3c3c3;
    border-radius: 15px;
    border: 1px solid #fdfeff;
    height: 415px;
    padding-top: 35px;
}

/* As Divs abaixo servem para o CSS da alteração de Senha do Usuário */
.divAlterarSenha{
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-top: 50px;
}

.divAlterarSenha form{
    background: #817A87;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgb(0 0 0 / 10%);
    width: 480px;
    height: auto;
    margin: auto;
    height: fit-content;
}

.divAlterarSenha form h1{
    text-align: initial;
    padding-top: 30px;
    padding-left: 30px;
}

.btnsFormAlterarSenha{
    width: 160px!important;
    margin-bottom: 30px;
}

.esquerda{
    margin-left: auto;
    margin-right: auto;
}

.direita{
    margin-right: auto;
    margin-left: auto;
}

.restantePaginaAlteracaoSenha{
    opacity: 0.5;
}

/* CSS para o Form da Instuição de Ensino */
.divInstituicaoEnsino {
    background-color: #c3c3c3;
    border-radius: 15px;
    border: 1px solid #fdfeff;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container-pai{
    display: flex;
    flex-direction: column;
    justify-content: center;
}