.navbar{
    background-color: #817A87;
}

body{
    font: Arial, 20px, sans-serif;
}


.margin-meio{
    padding-top: 20px;
    padding-bottom: 20px;
}

.cor-form{
    background-color: #817A87;
}

.margin{
    padding-top: 10px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: #817A87;
    color: black;
}

